/**********************Setup********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F6F4EC;
    background-image: url("../img/noise.png");
    font-family: "Open Sans", sans-serif;
    margin: 3% auto;
    width: 1000px;
    box-shadow: 0 0 1px inset;
    padding: 15px;
    border-radius: 4px;
    font-size: 80%;
}

h2 {text-align: center;font-weight: 100;}

.h_line {
    height: 1px;
    width: 80%;
    background: grey;
    clear: both;
    opacity: 0.5;
    margin: 5px 0;
}

.v_line {
  width: 1px;
  height: 80%;
  background-color: black;
}

/*****************Log in Page***************************/
.login_form_container {
  width: 50%;
  height: 33%;
  min-height: 210px;
  font-size: 110%;
  margin: 60px auto;
  box-shadow: 0 0 3px gray;
  border-radius: 3px;
  padding: 2%;
}

.logo_container {
  width: 49%;
  float: left;
}

.form_container {
  width: 50%;
  float: right;

}

input {
  border: 0;
  margin: 5px 0;
	padding: 7px 7px;
  border-radius: 2px;
	box-shadow: 0 0 1px inset;
}
input[type="button"]{
  padding: 6px 6px;
}
input[type="submit"] {
  background-color: #F6F4EC;
  cursor: pointer;
  font-weight: bold;
}
input[type="submit"]:hover{
  background-color: #34bf49;
}

/***********************Dropdown Menu [CSS]**************************/
div.main_menu {
  text-align: center;
}

ul.dropdown_menu {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 2px;
  list-style: none;
  height: 48px;
  box-shadow: 0 0 2px grey;
}
ul.dropdown_menu li {
  font-weight: bold;
  display: inline-block;
  margin: 0 -2px;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.5s;
}
ul.dropdown_menu li:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
ul.dropdown_menu li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 2px;
  width: 180px;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
ul.dropdown_menu li ul li {
  background: rgba(0, 0, 0, 0.6);
  display: block;
  color: #fff;
}
ul.dropdown_menu li ul li:hover { background: rgba(0, 0, 0, 0.8); }
ul.dropdown_menu li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
/*****************Headings******************/
.heading {
    width: 100%;
    padding: 1%;
    box-shadow: 0 0 1px grey;
    text-align: left;
    height: auto;
    overflow: hidden;
}



/***********footer & copyright****************/

footer {
  font-size: 90%;
  text-align: center;
}
.copyright {
  float: right;
  margin: 40px 0;
}
